<template>
    <div id="MyApp">
        <router-view> </router-view>
    </div>
</template>
<script>
export default {};
</script>
<style>
.main-content {
    margin-left: 300px;
    padding: 0px 10px;
}
</style>
