<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <img
                    src="../../../../../public/images/subimage/Logo.png"
                    alt=""
                    class="embed-responsive-item"
                    style="width: 150px; height: 80px"
                />
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->

                        <div v-if="drawer">
                            <li class="nav-item mr-3">
                                <router-link to="/login" class="mr-3"
                                    >Login</router-link
                                >
                                <router-link to="/register"
                                    >Register</router-link
                                >
                            </li>
                        </div>

                        <!-- <a href="#" @click.prevent="goLogout" v-if="drawer">
                            Logout
                        </a> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    props: { drawer: Boolean },

    data() {
        return {
            // drawer: false
            // currentUser: "http://127.0.0.1:8000/register"
            // token: localStorage.getItem("token")
        };
    }
    // methods: {
    //     // getUser() {
    //     //     axios
    //     //         .get("api/user")
    //     //         .then(response => {
    //     //             this.currentUser = response.data;
    //     //             this.drawer = true;
    //     //         })
    //     //         .catch(errors => {
    //     //             console.log(errors.response.data);
    //     //         });
    //     // },
    //     goLogout() {
    //         axios
    //             .post("api/logout")
    //             .then(response => {
    //                 localStorage.removeItem("token");
    //                 this.drawer = false;
    //                 this.$router.push("/login");
    //             })
    //             .catch(errors => {
    //                 console.log(errors.response.data);
    //             });
    //     }
    // }
    // created() {
    //     axios.defaults.headers.common["Authorization"] = `Bearer ${this.token}`;
    //     // this.getUser();
    // }
    // ,
    // mounted() {
    //     axios.get("/api/user").then(res => {
    //         this.user = res.data;
    //     });
    // }
};
</script>
