<template>
    <div>
        <div class="sidebar-fixed position-fixed">
            <a class="waves-effect">
                <img
                    src="../../../../../public/images/subimage/images.png"
                    class="ml-4 mt-2"
                    alt="Logo"
                />
            </a>
            <b-list-group class="my-2">
                <b-list-group-item class="d-flex align-items-center my-2">
                    <b-avatar
                        variant="info"
                        src="https://placekitten.com/300/300"
                        class="mr-3"
                    ></b-avatar>
                    <!-- <span class="mr-auto">Super Kitty</span> -->
                    <ul class="navbar-nav ml-auto">
                        <b-nav-item-dropdown right>
                            <template #button-content>
                                <span href="" class="text-big">{{
                                    currentUser.name
                                }}</span>
                            </template>
                            <b-dropdown-item @click.prevent="goLogout"
                                >Log Out</b-dropdown-item
                            >
                        </b-nav-item-dropdown>
                    </ul>
                </b-list-group-item>
            </b-list-group>

            <div class="list-group list-group-flush pt-3">
                <router-link
                    to="/dashboard"
                    exact
                    class=" list-group-item list-group-item-action waves-effect "
                >
                    <i class="fa fa-tachometer mr-3 " aria-hidden="true"></i
                    >Dashboard</router-link
                >
                <router-link
                    to="/accounts"
                    exact
                    class=" list-group-item list-group-item-action waves-effect"
                >
                    <i class="fa fa-users mr-3"></i>Patron
                    Management</router-link
                >
                <router-link
                    to="/book"
                    class="list-group-item list-group-item-action waves-effect"
                >
                    <i class="fa fa-book mr-3" aria-hidden="true"></i>Book
                    Management
                </router-link>
                <router-link
                    to="/settings"
                    class="list-group-item list-group-item-action waves-effect "
                >
                    <i class="fa fa-cog mr-3"></i>Settings</router-link
                >
                <!-- <router-link
                    to="#"
                    class="list-group-item list-group-item-action waves-effect"
                >
                    <i class="fa fa-briefcase mr-3"></i>Office
                    Documents</router-link
                > -->
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            currentUser: "",
            token: localStorage.getItem("token")
        };
    },
    methods: {
        getUser() {
            axios
                .get("api/user")
                .then(response => {
                    this.currentUser = response.data;
                })
                .catch(errors => {
                    console.log(errors.response.data);
                });
        },
        goLogout() {
            axios
                .post("api/logout")
                .then(response => {
                    localStorage.removeItem("token");
                    this.$router.push("/login");
                })
                .catch(errors => {
                    console.log(errors.response.data);
                });
        }
    },
    async mounted() {
        axios.defaults.headers.common["Authorization"] = `Bearer ${this.token}`;
        axios
            .get("api/user")
            .then(response => {
                this.currentUser = response.data;
            })
            .catch(errors => {
                console.log(errors.response.data);
            });
        // this.getUser();
    }
    // mounted() {
    //     axios.get("/api/user").then(res => {
    //         this.user = res.data;
    //     });
    // }
};
</script>
