<template>
    <div>
        <Navbar drawer />
        <div class="container  mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Login</div>

                        <div class="card-body">
                            <b-alert
                                variant="danger"
                                :show="dismissCountDown"
                                fade
                                dismissible
                                @dismiss-count-down="countDownChanged"
                                >Please Input correct User</b-alert
                            >
                            <form>
                                <div class="form-group row">
                                    <label
                                        for="email"
                                        class="col-md-4 col-form-label text-md-right"
                                        >E-Mail Address</label
                                    >

                                    <div class="col-md-6">
                                        <input
                                            id="email"
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            required
                                            autocomplete="email"
                                            autofocus
                                        />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label
                                        for="password"
                                        class="col-md-4 col-form-label text-md-right"
                                        >Password</label
                                    >

                                    <div class="col-md-6">
                                        <input
                                            id="password"
                                            type="password"
                                            class="form-control"
                                            name="password"
                                            required
                                            autocomplete="current-password"
                                        />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 offset-md-4">
                                        <div class="form-check">
                                            <input
                                                class="form-check-input"
                                                type="checkbox"
                                                name="remember"
                                                id="remember"
                                            />

                                            <label
                                                class="form-check-label"
                                                for="remember"
                                            >
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button
                                            type="submit"
                                            class="btn btn-primary text-white"
                                        >
                                            Login
                                        </button>

                                        <a class="btn btn-link" href="#">
                                            Forgot Your Password?
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
