.fa-search {
    color: #9ea1a6;
    cursor: pointer;
}
.fa-pencil {
    color: #002c3e;
}
.fa-trash-o {
    color: red;
}
.btn-outline-add {
    color: #002c3e !important;
    border-color: #002c3e !important;
    background-color: white !important;
}

.btn-outline-add:hover {
    color: white !important;
    background-color: #002c3e !important;
}
.btn-no-border {
    padding: 0;
    border: none;
    background: none;
}
.btn-no-border:focus {
    outline: 0 !important;
}

.icon-return {
    filter: invert(68%) sepia(68%) saturate(5201%) hue-rotate(106deg)
        brightness(91%) contrast(80%);
}

.icon-borrow {
    filter: invert(65%) sepia(80%) saturate(1511%) hue-rotate(356deg)
        brightness(98%) contrast(108%);
}
.float-right {
    text-align: right !important;
}

.btn-secondary {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: white;
}

.req::after {
    color: red;
    content: "*";
    position: absolute;
    margin-left: 10px;
    font-size: 20px;
}

.line-search-bar {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #9ea1a6;
    width: 230px;
}
.bg-gray {
    background-color: #e1e1e1;
}
.text-big {
    font-size: 1.2rem;
    color: #002c3e;
}

.Page-active {
    color: #002c3e !important;
    border-color: #002c3e !important;
}
.Page-link:hover {
    color: white !important;
    background-color: #002c3e !important;
}
.page-link {
    color: #002c3e !important;
}

.ml-6 {
    margin-left: 4rem;
}
.f-right {
    margin-left: 65%;
}

.navbar {
    z-index: 2;
}
.Invalid {
    font-size: 15px !important;
}

.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    background-color: #fff;
    padding: 0 1.5rem 1.5rem;
    float: left;
    top: 0px !important;
    padding-top: 100px !important;
}
.sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 0;
}
.sidebar-fixed .logo-wrapper {
    padding: 2.5rem;
}
.sidebar-fixed .logo-wrapper img {
    max-height: 50px;
}
@media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main-content {
        padding-left: 270px;
    }
}
@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }
    .main-content {
        margin-left: 0 !important;
    }
}
