<template>
    <div>
        <!-- <Sidebar /> -->
        <div class="main-content">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <b-button
                            href=""
                            class="btn btn-outline-add mt-2"
                            v-b-modal.AddPatron
                            @click="$bvModal.show('AddPatron')"
                            ><i class="fa fa-plus-circle mr-2"></i>Add
                            Patrons</b-button
                        >
                        <div class="float-right">
                            <input
                                name="search"
                                placeholder="Search Item here"
                                type="text"
                                class="line-search-bar"
                                v-model="search"
                                @input="SearchPatron"
                            />
                            <i
                                class="fa fa-search fa-lg pl-2"
                                aria-hidden="true"
                            ></i>
                        </div>
                        <b-alert
                            variant="warning"
                            :show="dismissCountDown"
                            fade
                            dismissible
                            @dismiss-count-down="countDownChanged"
                            class="mt-5"
                            >Success Delete Success</b-alert
                        >
                        <table
                            class="table table-hover table-bordered shadow mt-5"
                        >
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        <i class="fa fa-fw fa-sort mr-2"></i
                                        >Name
                                    </th>
                                    <th>
                                        <i class="fa fa-fw fa-sort mr-2"></i
                                        >Email Address
                                    </th>
                                    <th>
                                        <i class="fa fa-fw fa-sort mr-2"></i
                                        >Date Registered
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="Patron in Patrons.data"
                                    :key="Patron.id"
                                >
                                    <td>
                                        {{ Patron.FirstName }}
                                        {{ Patron.LastName }}
                                    </td>
                                    <td>{{ Patron.Email }}</td>
                                    <td>{{ Patron.created_at }}</td>
                                    <td class="text-center">
                                        <a
                                            href="#"
                                            v-b-modal.UpdateModal
                                            @click="itemToUpdate = Patron"
                                            ><i
                                                class="fa fa-pencil fa-lg mr-4"
                                                aria-hidden="true"
                                            ></i
                                        ></a>
                                        <a
                                            href="#"
                                            v-b-modal.DeleteModal
                                            @click="itemToDelete = Patron"
                                        >
                                            <i
                                                class="fa fa-trash-o fa-lg mr-4"
                                                aria-hidden="true"
                                            ></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <pagination
                        :data="Patrons"
                        @pagination-change-page="getTodos"
                    ></pagination> -->
                </div>

                <!-- Add Modal -->
                <b-modal id="AddPatron" title="Add Patron" centered>
                    <b-form>
                        <b-form-group>
                            <div>
                                <label for="BokName" class="req"
                                    >First Name:</label
                                >
                                <b-form-input
                                    id="BokName"
                                    placeholder="Input First Name "
                                    v-model="form.FirstName"
                                    required
                                ></b-form-input>
                                <div
                                    class="text-danger Invalid"
                                    v-if="
                                        !$v.form.FirstName.required &&
                                            $v.form.FirstName.$dirty
                                    "
                                >
                                    First Name is required
                                </div>
                                <!-- <span
                                    v-if="
                                        !$v.form.FirstName.required &&
                                            $v.form.FirstName.$dirty
                                    "
                                    class="text-danger Invalid"
                                    >First Name is required</span
                                > -->
                            </div>

                            <label for="MiddleName" class="mt-3"
                                >Middle Name:</label
                            >
                            <b-form-input
                                id="MiddleName"
                                placeholder="Input Middle Name "
                                v-model="form.MiddleName"
                            ></b-form-input>

                            <div>
                                <label for="LastName" class="mt-3 req"
                                    >Last Name:</label
                                >
                                <b-form-input
                                    id="LastName"
                                    placeholder="Input Last Name"
                                    v-model="form.LastName"
                                    required
                                ></b-form-input>
                                <span
                                    v-if="
                                        !$v.form.LastName.required &&
                                            $v.form.LastName.$dirty
                                    "
                                    class="text-danger Invalid"
                                    >Last Name is required</span
                                >
                            </div>

                            <div>
                                <label for="Email" class="mt-3 req"
                                    >Email Address:</label
                                >
                                <b-form-input
                                    id="Email"
                                    type="email"
                                    placeholder="Input Email Address"
                                    v-model="form.Email"
                                    required
                                ></b-form-input>
                                <span
                                    v-if="
                                        (!$v.form.Email.required ||
                                            !$v.form.Email.email) &&
                                            $v.form.Email.$dirty
                                    "
                                    class="text-danger Invalid"
                                    >Valid Email is required</span
                                >
                            </div>
                        </b-form-group>
                        <b-alert
                            variant="success"
                            :show="dismissCountDown"
                            fade
                            dismissible
                            @dismiss-count-down="countDownChanged"
                            >Success Alert</b-alert
                        >
                    </b-form>
                    <template #modal-footer class="float-right">
                        <div class="w-100 float-right">
                            <button
                                type="submit"
                                class="btn btn-outline-add mr-2"
                                @click.prevent="saveData"
                            >
                                <i class="fa fa-plus-circle mr-2"></i>Add Patron
                            </button>
                            <button
                                type="button"
                                class="btn btn-outline-add"
                                data-dismiss="modal"
                                block
                                @click="$bvModal.hide('AddPatron')"
                            >
                                <i class="fa fa-arrow-circle-left mr-2"></i
                                >Close
                            </button>
                        </div>
                    </template>
                </b-modal>

                <!--Update Modale -->

                <b-modal
                    id="UpdateModal"
                    title="Update Patron"
                    centered
                    ref="modal"
                    no-close-on-backdrop
                >
                    <b-form>
                        <b-form-group>
                            <div>
                                <label for="BokName" class="req"
                                    >First Name:</label
                                >
                                <b-form-input
                                    id="BokName"
                                    placeholder="Input First Name "
                                    v-model="itemToUpdate.FirstName"
                                    required
                                ></b-form-input>
                                <span
                                    v-if="
                                        !$v.form.FirstName.required &&
                                            $v.form.FirstName.$dirty
                                    "
                                    class="text-danger Invalid"
                                    >First Name is required</span
                                >
                            </div>

                            <label for="MiddleName" class="mt-3"
                                >Middle Name:</label
                            >
                            <b-form-input
                                id="MiddleName"
                                placeholder="Input Middle Name "
                                v-model="itemToUpdate.MiddleName"
                            ></b-form-input>

                            <div>
                                <label for="LastName" class="mt-3 req"
                                    >Last Name:</label
                                >
                                <b-form-input
                                    id="LastName"
                                    placeholder="Input Last Name"
                                    v-model="itemToUpdate.LastName"
                                    required
                                ></b-form-input>
                                <span
                                    v-if="
                                        !$v.form.LastName.required &&
                                            $v.form.LastName.$dirty
                                    "
                                    class="text-danger Invalid"
                                    >Last Name is required</span
                                >
                            </div>

                            <div>
                                <label for="Email" class="mt-3 req"
                                    >Email Address:</label
                                >
                                <b-form-input
                                    id="Email"
                                    type="email"
                                    placeholder="Input Email Address"
                                    v-model="itemToUpdate.Email"
                                    required
                                ></b-form-input>
                                <span
                                    v-if="
                                        (!$v.form.Email.required ||
                                            !$v.form.Email.email) &&
                                            $v.form.Email.$dirty
                                    "
                                    class="text-danger Invalid"
                                    >Valid Email is required</span
                                >
                            </div>
                        </b-form-group>
                        <b-alert
                            variant="success"
                            :show="dismissCountDown"
                            fade
                            dismissible
                            @dismiss-count-down="countDownChanged"
                            >Success Alert</b-alert
                        >
                    </b-form>
                    <template #modal-footer class="float-right">
                        <div class="w-100 float-right">
                            <button
                                type="submit"
                                class="btn btn-outline-add mr-2"
                                @click.prevent="update(form.id)"
                            >
                                <i class="fa fa-plus-circle mr-2"></i>Update
                                Patron
                            </button>
                            <button
                                type="button"
                                class="btn btn-outline-add"
                                data-dismiss="modal"
                                block
                                @click="$bvModal.hide('UpdateModal')"
                            >
                                <i class="fa fa-arrow-circle-left mr-2"></i
                                >Close
                            </button>
                        </div>
                    </template>
                </b-modal>

                <!-- DeleteModal -->
                <b-modal
                    id="DeleteModal"
                    title="Confirm Delete"
                    centered
                    ref="modal"
                >
                    <p>
                        Are you sure you want to delete this?
                        {{ itemToDelete.id }}
                    </p>
                    <template #modal-footer class="float-right">
                        <div class="w-100 float-right">
                            <button
                                type="button"
                                class="btn secondary mr-2"
                                block
                                @click="$bvModal.hide('DeleteModal')"
                            >
                                Close
                            </button>
                            <button
                                type="button"
                                class="btn btn-danger"
                                data-dismiss="modal"
                                block
                                @click="remove(itemToDelete.id)"
                            >
                                Yes
                            </button>
                        </div>
                    </template>
                </b-modal>
            </div>
        </div>
    </div>
</template>
<script>
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
    data() {
        return {
            form: {
                FirstName: "",
                MiddleName: "",
                LastName: "",
                Email: ""
            },
            Patrons: {},
            search: "",
            dismissSecs: 5,
            dismissCountDown: 0,
            itemToDelete: "",
            itemToUpdate: ""
        };
    },
    methods: {
        getTodos(page = 1) {
            axios
                .get("/api/Patrons?page=" + page)
                .then(res => {
                    this.Patrons = res.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        saveData() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                axios
                    .post("/api/Patrons", this.form)
                    .then(res => {
                        this.getTodos();
                        this.dismissCountDown = this.dismissSecs;
                        this.resetForm();
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        },

        update(id) {
            axios
                .put("/api/Patrons/" + id, this.form)
                .then(res => {
                    this.getTodos();
                    this.dismissCountDown = this.dismissSecs;
                    this.resetForm();
                    console.log("Update " + id);
                    this.$refs.modal.hide();
                })
                .catch(function(error) {
                    console.log(error);
                });
        },

        remove(id) {
            axios
                .delete("/api/Patrons/" + id, this.form)
                .then(res => {
                    this.getTodos();
                    this.dismissCountDown = this.dismissSecs;
                    console.log("Deleting " + id);
                    this.$refs.modal.hide();
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        SearchPatron() {
            axios
                .get("/api/Patrons?search=" + this.search)
                .then(res => {
                    this.Patrons = res.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        resetForm() {
            this.form = {
                FirstName: null,
                MiddleName: null,
                LastName: null,
                Email: null
            };

            this.$nextTick(() => {
                this.$v.$reset();
            });
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown;
        }
    },
    async mounted() {
        this.getTodos();
    },

    validations: {
        form: {
            FirstName: {
                required,
                minLength: minLength(3)
            },
            LastName: {
                required,
                minLength: minLength(2)
            },
            Email: {
                email,
                required,
                minLength: minLength(2)
            }
        }
    }
};
</script>
<style scoped>
.btn-outline-add {
    color: #002c3e !important;
    border-color: #002c3e !important;
    background-color: white !important;
}

.btn-outline-add:hover {
    color: white !important;
    background-color: #002c3e !important;
}
.btn-no-border {
    padding: 0;
    border: none;
    background: none;
}
.btn-no-border:focus {
    outline: 0 !important;
}
.secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    box-shadow: none !important;
    color: white;
}
</style>
